body{
	font-family: 'Ubuntu', sans-serif;
	font-size:14px;
	line-height: 145%;
	font-style: normal;
	padding: 0px;
	margin: 0px;
}
h1 {
	color:black;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 3em;
	line-height: 140%;
	font-style: normal;
	margin: 20px 0px;
}
p{
	color:#666666;
}
/*El objeto header es todo el contenedor de la barra de hasta arriba. Solo defino el fondo*/
header{
	background: -webkit-linear-gradient(#d0d0d0, #efefef); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d0d0d0, #efefef); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d0d0d0, #efefef); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#d0d0d0, #efefef); /* Standard syntax (must be last) */
	border-color:transparent;
	border-style:solid; 
	border-top-color:#7a7a7a; 
	border-bottom-color:#cccccc; 
	height: 80px;
	border-width:1px;
	/*Creo que no debe llevar borde arriba...*/
	border-top-width: 0px;
}
/*Main es el contenedor principal*/
main {
	width:1170px;
	padding:5px; 
	margin-right: auto;
	margin-left: auto;
}
/* contenedor dentro del header, del mismo ancho que el main para colocar botones y logo*/
nav.head{
	width:1170px;
	height:78px;
	margin-right: auto;
	margin-left: auto;
}
nav li, nav ul{
	display: inline;
}
/*los elementos que van en el header tienen todo esto en comun*/
*[class*="header"]{
	height:74px;
	color:#666666;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	border-color:transparent;
	border-right-width:1px;
	border-left-width: 0px;
	border-style:solid; 
	border-right-color:#cccccc;
	margin-left: -4px;
}

/* SPRITES */
/*el logo tiene class="logo". Para que solo muestre la mitad de la imagen y tenga un poco de espacio a la derecha*/
.logo {
	height: 80px;
	overflow: hidden;
	display:inline-block;
	padding-right: 60px;
}
/*para que cambie la imagen cuando el puntero esta encima*/
.logo img:hover{
	margin-top: -80px;
}

/*Los hipervinculos de clase que contenga header*/
a[class*="header"], div[class*="header"]{
	text-align:center;
	line-height: 80px;/* TODO: revisar si podemos centrar esto de otra manera */
	display: inline-block;
	/*La transicion de colores*/
	-webkit-transition: background 2s, color 1s; /* For Safari 3.1 to 6.0 */
	transition: background 2s, color 1s;
}
/*Estado final de la transicion de colores, cuando el mouse esta sobre el elemento (hover)*/
a[class*="header-trans"]:hover, div[class*="header-trans"]:hover{
	background: #cccccc;
	color:#1a1a1a;
}
a[class*="selected"]{
	background: #666666;
	color:#f0f0f0;
}

/* ===== BODY===== */

nav.body{
	width:100%;
	height:auto;
	color:#999999;
	padding: 5px;
	padding-bottom: 30px;
}
nav.body div{
	margin-right: 25px;
}
nav.body a{
	color: #2ed110;
}
nav.body a:hover{
	color: #108500;
	text-decoration: none;
}
nav.body a.active{
	color: #cccccc;
}
nav.body a.active:hover{
	text-decoration: none;
}
/*la tabla de contenido principal tiene esta id*/
#filelist {
	width:100%;
	color:black;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
}
/*lo use para el header de la tabla principal*/
#filelist th {
	font-weight: bold;
	text-align: left;
	border-bottom:3px solid #cccccc; 
}
#filelist td {
	padding: 5px;
	vertical-align: top;
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}
#filelist td.actions{
	color:#999999;
}
#filelist a.icon{
	color:#2ed110;
}
#filelist a.icon:hover{
	color:#108500;
}
#filelist img {
	margin-right: 10px;
}
footer{
	margin-right: auto;
	margin-left: auto;
	width:1170px;
	padding:5px; 
	margin-top: 5px;
	border-color:white;
	border-top-width:1px;
	border-style:solid; 
	border-top-color:#2ed110; 
}
/*en el footer meti dos divs. Tienen esto en comun*/
div[class*="footer"]{
	color:#666666;
	font-size:12px;
	display:inline;
}

/*Defino el tipo del boton de los popups*/
*[class*="grn-btn"] {
  background: #00da19;
  background-image: -webkit-linear-gradient(top, #00da19, #00a500);
  background-image: -moz-linear-gradient(top, #00da19, #00a500);
  background-image: -ms-linear-gradient(top, #00da19, #00a500);
  background-image: -o-linear-gradient(top, #00da19, #00a500);
  background-image: linear-gradient(to bottom, #00da19, #00a500);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
  border: solid #dddddd 1px;
  text-decoration: none;
  height: 40px;
}

*[class*="grn-btn"]:hover {
  background: #00a500;
  background-image: -webkit-linear-gradient(top, #00a500, #00da19);
  background-image: -moz-linear-gradient(top, #00a500, #00da19);
  background-image: -ms-linear-gradient(top, #00a500, #00da19);
  background-image: -o-linear-gradient(top, #00a500, #00da19);
  background-image: linear-gradient(to bottom, #00a500, #00da19);
  text-decoration: none;
}
/*Es para el checkbox de remember me pero no supe como centrarlo con respecto al boton ????????*/
*[class*="valign"]{
	line-height: 300%;
}

/*HOVER POPUP LINKS (me base en una pagina... asi se ve un CSS bien planeado)*/

#popup div {
	position: relative;
}

#popup div div {
	display: none;
}

#popup div:hover div {
	display: block;
	line-height: 140%;
	position: absolute;
	top: 77px;
	right: -1px;
	width: 240px;
	margin: 0px;
	padding: 28px;
	padding-bottom: 17px;
	color: #a1a1a1;
	font-weight: normal;
	background: #fcfcfc;
	border: 1px solid #cccccc;
	border-top-color: #2ed110;
}
#popup div:hover div table{
	width: 100%;
}
#popup div:hover div input{
	border-color: #dddddd;
	background-color: #fafafa;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	width:100%;
	height:25px;
	line-height: 140%;
}

/* ALIGN */
/*si la clase contiene fltleft, que se vaya a la izq*/
*[class*="fltleft"]{
	float: left;
}
*[class*="fltright"]{
	float:right;
}
/*si la clase contiene txtleft, que el texto se alinee a la izq*/
*[class*="txtleft"]{
	text-align: left;
}
*[class*="txtright"]{
	text-align: right;
}

*[class*="info"]{
	color: black;
}
/* Horizontal ruler popup */
hr#register {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px dashed #cccccc;
	margin: 1em 0;
	padding: 0;
}

/*Column widths for the filelist table. Width attribute on html marked as obsolete
table#filelist col:nth-child(1){
	width: 60%;
}

table#filelist col:nth-child(2){
	width: 7.5%;
}

table#filelist col:nth-child(3){
	width: 7.5%;
}

table#filelist col:nth-child(4){
	width: 12.5%;
}

table#filelist col:nth-child(5){
	width: 12.5%;
}*/

/* TEMP */
/*
table, th, td {
	border: 1px solid black;
}
/**/

