/* 
inf_box stylesheet
Last Updated: 2014-11-10
Author: Javier Sagastuy , Alejandro Escalante
*/
/* Basic font settings*/
body{
	font-family: 'Ubuntu', sans-serif;
	font-size:14px;
	line-height: 145%;
	font-style: normal;
}
/* Heading 1 font settings */
h1 {
	color:black;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 3em;
	line-height: 140%;
	font-style: normal;
	margin: 20px 0px;
}
p{
	color:#999999;
	display: inline-block;
	float: left;
	margin-right: 5px;
}
/* ===== HEADER ===== */
/* Header contains main nav. Only background, size and border definition*/
header{
	background: -webkit-linear-gradient(#d0d0d0, #efefef); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d0d0d0, #efefef); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d0d0d0, #efefef); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#d0d0d0, #efefef); /* Standard syntax (must be last) */
	border-bottom:1px solid #cccccc; 
	height: 80px;
	/* Maybe no border on top... */
	border-top: 0px solid #7a7a7a;
}
/* Main container width and center settings*/
main {
	width:1170px;
	padding:5px; 
	margin-right: auto;
	margin-left: auto;
}
/* Header nav container size and center settings */
nav.head{
	width:1170px;
	height:80px;
	margin-right: auto;
	margin-left: auto;
}
/* List elements inside a nav */
nav li, nav ul{
	position: relative;
	display: inline-block;
	float: left;
}
/* Class header was defined for elements inside de header nav */
*[class*="header"]{
	height:80px;
	color:#666666;
	text-decoration: none;
	border-right:1px solid #cccccc; 
}

/* Logo settings for sprite effects */
.logo {
	height: 80px;
	overflow: hidden;
	display:inline-block;
	padding-right: 60px;
}
/* Hover effect for the logo */
.logo img:hover{
	margin-top: -80px;
}

/* Header navidation elements style */
a[class*="header"], div[class*="header"]{
	text-align:center;
	line-height: 80px;/* TODO: revisar si podemos centrar esto de otra manera */
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	/* Color transition */
	-webkit-transition: background 2s, color 1s; /* For Safari 3.1 to 6.0 */
	transition: background 2s, color 1s;
}
/* End state for hover transition */
a[class*="header-trans"]:hover, div[class*="header-trans"]:hover{
	background: #cccccc;
	color:#1a1a1a;
}
/* Selected elements */
a[class*="selected"]{
	background: #666666;
	color:#f0f0f0;
}

/* ===== BODY ===== */

nav.body{
	width:100%;
	height:auto;
	color:#999999;
	padding: 5px;
	padding-bottom: 30px;
}
nav.body div{
	margin-right: 25px;
}
nav.body a{
	color: #2ed110;
}
nav.body a:hover{
	color: #108500;
	text-decoration: none;
}
nav.body a.active{
	color: #cccccc;
}
nav.body a.active:hover{
	text-decoration: none;
}
/* Main content table id=filelist */
#filelist {
	width:100%;
	color:black;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
}
#filelist th {
	font-weight: bold;
	text-align: left;
	border-bottom:3px solid #cccccc; 
}
#filelist td {
	padding: 5px;
	vertical-align: top;
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}
#filelist td.actions{
	color:#999999;
}
#filelist a.icon{
	color:#2ed110;
}
#filelist a.icon:hover{
	color:#108500;
}
#filelist img {
	margin-right: 10px;
}

/* ===== FOOTER ===== */
/* footer size and center settings */
footer{
	margin-right: auto;
	margin-left: auto;
	width:1170px;
	padding:5px; 
	margin-top: 50px;
	border-top:1px solid #2ed110; 
}
div[class*="footer"]{
	color:#666666;
	font-size:12px;
	display:inline;
	margin-bottom: 50px;
}

/* ===== CSS DROPDOWN POPUPS ===== */

#popup a:first-child {
	height:80px;
	position: relative;
}
#popup a ~ div {
	position: absolute;
	display: none;
	position: absolute;
	z-index: 5;
	top: 79px;
	right: -1px;
	line-height: 140%;
	width: 240px;
	margin: 0px;
	margin-top: 1px;
	padding: 28px;
	padding-bottom: 0px;
	color: #a1a1a1;
	font-weight: normal;
	background: #fcfcfc;
	border: 1px solid #cccccc;
	border-top-color: #2ed110;
	-webkit-border-bottom-left-radius: 3;
	-moz-border-bottom-left-radius: 3;
	-webkit-border-bottom-right-radius: 3;
	-moz-border-bottom-right-radius: 3;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0px 1px 3px #cccccc;
}
#popup a:hover ~ div {
	display: block;
}
#popup a:hover ~ div table{
	width: 100%;
}
#popup a:hover ~ div table td{
	padding-bottom: 15px;
}
#popup a:hover ~ div input{
	background-color: #fafafa;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #dddddd;
	width:100%;
	height:25px;
	line-height: 140%;
}
#popup a:hover ~ div input[type="checkbox"]{
	width: 13px;
}

/* Horizontal ruler popup */
hr#register {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px dashed #cccccc;
	margin: 1em 0;
	padding: 0;
}

/* Popup button */
*[class*="grn-btn"] {
	background: #00da19;
	background-image: -webkit-linear-gradient(top, #00da19, #00a500);
	background-image: -moz-linear-gradient(top, #00da19, #00a500);
	background-image: -ms-linear-gradient(top, #00da19, #00a500);
	background-image: -o-linear-gradient(top, #00da19, #00a500);
	background-image: linear-gradient(to bottom, #00da19, #00a500);
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
	border: solid #dddddd 1px;
	text-decoration: none;
	height: 40px;
}
*[class*="grn-btn"]:hover {
	background: #00a500;
	background-image: -webkit-linear-gradient(top, #00a500, #00da19);
	background-image: -moz-linear-gradient(top, #00a500, #00da19);
	background-image: -ms-linear-gradient(top, #00a500, #00da19);
	background-image: -o-linear-gradient(top, #00a500, #00da19);
	background-image: linear-gradient(to bottom, #00a500, #00da19);
	text-decoration: none;
}
*[class*="grn-btn"]:active {
	background: #00a500;
	text-decoration: none;
}

/* ===== ALIGN ===== */
*[class*="fltleft"]{
	float: left;
}
*[class*="fltright"]{
	float:right;
}
*[class*="txtleft"]{
	text-align: left;
}
*[class*="txtright"]{
	text-align: right;
}

*[class*="info"]{
	font-size: 18px;
	color: black;
}

/*Column widths for the filelist table. Width attribute on html <col> marked as obsolete
table#filelist col:nth-child(1){
	width: 60%;
}
table#filelist col:nth-child(2){
	width: 7.5%;
}
table#filelist col:nth-child(3){
	width: 7.5%;
}
table#filelist col:nth-child(4){
	width: 12.5%;
}
table#filelist col:nth-child(5){
	width: 12.5%;
}*/
